    /* base css　基本設定 */
:root {
    --font-main: "Noto Sans JP", sans-serif;
    --font-title: "Ubuntu", sans-serif; 
    --fontSize-main: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
    --color-bg: #ffffff;
    --color-main: #f0f7ff;
    --color-accent: #0066cc;
    --content-size: 1920px;
    --content-inner-W: clamp(0.5rem, 0.3rem + 4vw, 5rem);
    --content-inner-H: clamp(0.5rem, -0.4rem + 4.5vw, 3rem);

    /* --contents-space-S: clamp(1rem, -0.4rem + 4.5vw, 3rem); */
    --contents-space-M: clamp(1rem, 0.45rem + 2.75vw, 4rem);

    /* --box-inner: clamp(0.5rem, 1.5vw, 2rem); */
}
html {
    font-size: 100%;
    scroll-behavior: smooth;  
    font-family: var(--font-main);
}

body {
    line-height: 1.7;
    color: #1e293b;
    font-size: var(--fontSize-main);
    &:where(h1, h2, h3, h4) {
        line-height: 1.4;
    }
}

/* layout l- 枠・header/footer*/
.l-section {
    padding: clamp(4rem, 3.2rem + 4vw, 8rem) 0;
    .l-section_inner {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--content-size);
        padding: 0 var(--content-inner-W);
    }
}
.l-header_content, .l-footer_content {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-size);
    padding-left: var(--content-inner-W);
    padding-right: var(--content-inner-W);
}
.l-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index:1000;
    position: fixed;
    backdrop-filter: blur(0.625rem);
    background: rgba(255,255,255,0.5);

    .l-header_content {
        height: 100%;
        position: relative;
        max-width: var(--content-size);
        padding: 0 var(--content-inner-W);
        @media screen and (min-width:60rem) {
            display: flex;
            align-items: ce;
            justify-content: space-between;
        }
    }
    .l-header_nav {
        inset: 0; 
        z-index: 1000;
        display: block;
        height: 100dvh;
        position: fixed;
        transition: .5s;
        padding-top: clamp(4rem, 3.2rem + 4vw, 8rem);
        text-align: center;
        transform: translateX(100vw);
        background-color: var(--color-bg);
        a {
            padding: 1rem;
            display: block;
        }
        @media screen and (min-width:60rem) {
            & {
                height: 2rem;
                margin-top: 1rem;
                display: flex;
                padding-top: 0;
                overflow: hidden;
                position: relative; 
                transform: translateX(0);
                background-color: transparent;
                .l-header_nav_slash {
                    display: none; 
                }
                a {
                    padding: 0 1rem;
                    min-width: 7.5rem;
                    transition: .3s;
                    &:hover {
                        margin-top: -2rem;
                    }
                    .l-header_nav_subText {
                        display: block;
                        color: var(--color-accent);
                    }
                }
            }
        }
    }
    .l-header_navIcon.js-active ~ nav .l-header_nav {
        transform: translateX(0);
    }
    .l-header_navIcon {
        top: 1rem;
        right: 1rem;
        width: 2rem;
        z-index: 10000;
        cursor: pointer;
        position: absolute;
        aspect-ratio: 1 / 1;
        @media screen and (min-width:60rem) {
            & {
                display: none;
            }
        }
    }
    .l-header_navIcon_1, .l-header_navIcon_2 {
        top: 0.8125rem;
        height: 0.25rem;
        width: 2rem;
        transition: .3s;
        border-radius: 0.125rem;
        position: absolute;
        background-color: #333;
    }
    .l-header_navIcon_1 {
        transform: rotate(0deg);
        animation: menuIcon-out .3s ease-out forwards;
        box-shadow: 0 0.625rem 0 #333, 0 -0.625rem 0 #333;
    }
    .js-active.l-header_navIcon .l-header_navIcon_1 {
        transform: rotate(45deg);
        animation: menuIcon-in .3s ease-out forwards;
    }
    .js-active.l-header_navIcon .l-header_navIcon_2 {
        transform: rotate(-45deg);
         transition-delay: .1s;
    }
    .l-header_logo {
        height: 100%;
        display: flex; 
        z-index: 10000;
        padding: 0 2.125rem;
        position: relative;
        align-items: center;
        pointer-events: none;
        justify-content: center;
        text-shadow: 0 0 5px #fff;
        font-family: var(--font-title); 
        a {
            font-size: 1.25rem;
            pointer-events: auto;
            span {
                color: var(--color-accent);
            }
        }
        @media screen and (min-width:60rem) {
            & {
                padding: 0;
            }
        }
    }
}
@keyframes menuIcon-in {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 0.625rem 0 #333, 0 -0.625rem 0 #333;
    }
    50% {
        transform: rotate(0deg);
        box-shadow: 0 0 0 #333, 0 0 0 #333;
    }
    100% {
        transform: rotate(45deg);
        box-shadow: 0 0 0 #333, 0 0 0 #333;
    }
}
@keyframes menuIcon-out {
    0% {
        transform: rotate(45deg);
        box-shadow: 0 0 0 #333, 0 0 0 #333;
    }
    50% {
        transform: rotate(0deg);
        box-shadow: 0 0 0 #333, 0 0 0 #333;
    }
    100% {
        transform: rotate(0deg);
        box-shadow: 0 0.625rem 0 #333, 0 -0.625rem 0 #333;
    }
}
.l-footer {
    .l-footer_copy {
        text-align: center;
        color: var(--color-accent);
        background-color: var(--color-bg);
    }
}
.l-footer_pageTop {
    right: -3.5rem;
    z-index: 100;
    width: 10rem;
    bottom: 11rem;
    display: none;
    font-size: 1.125rem;
    position: fixed;
    font-weight: 300;
    text-align: right;
    transform: rotate(90deg);
    @media screen and (min-width:60rem) {
     display: block;
    }
    a {
        display: block;
        width: 100%;
    }
    &::before {
        content: '';
        top: 0.9375rem;
        width: 0.0625rem;
        left: 61px;
        height: 0.0625rem;
        z-index: 101;
        display: block;
        position: absolute;
        pointer-events: none;
        background-color: #555;
        animation: pageTopLine 2s ease-in infinite;
    }
    &::after {
        content: '';
        top: 0.9375rem;
        left: 0;
        width: 3.875rem;
        height: 0.0625rem;
        z-index: 100;
        display: block;
        position: absolute;
        pointer-events: none;
        background-color: rgba(0,0,0,0.3);
    }
}
@keyframes pageTopLine {
    0% {
        width: 0.0625rem;
        left: 61px;
    }
    10% {
        width: 5px;
        left: 57px;
    }90% {

        left: 0;
    }
    100% {
        width: 0.0625rem;
        left: 0;
    }
}
.l-fv {
    inset: 0;
    /* opacity: 0; */
    z-index: -50;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    .l-fv_bg {
        inset: -200vh;

        position: absolute;
background-image: radial-gradient(circle at center, #f0f7ff 5px, transparent 5px);
background-size: 3.75rem 3.75rem;
    }
}
.c-btn {
    text-align: center;
    a {
        display: inline-block;
        color: #fff;
        width: 100%;
        line-height: 1.75rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: .3s;
        border: 0.0625rem solid var(--color-accent);
        background-color: var(--color-accent);
        @media screen and (min-width:40rem) {
            &:hover {
                color: var(--color-accent);
                background-color: #fff;
            }
        }
    }
}


/*Component c- 使いまわしできる素材*/

/* Utility u- 装飾*/
.u-space-S {
    /* margin-top: var(--contents-space-S); */
}
.uspace-M {
    /* margin-top: var(--contents-space-M); */
}
.u-bgBasic {
    background-color: var(--color-bg);
}
.u-bgAccent {
    background-color: var(--color-main);
    box-shadow: 0.125rem 0.125rem 0.9375rem rgba(0,0,0,0.2);
}

/* Project */

.index-catch {
    position: relative;
    text-shadow: 0 0 0.625rem #fff;
    background-color: var(--color-bg);
    padding-top: clamp(10rem, 7.9rem + 10.5vw, 20rem);
    &::before {
        inset: 0;
        z-index: 2;
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        background: linear-gradient(rgba(255,255,255,00) 60%, #fff);
    }
    &::after {
        inset: 0;
        z-index: 1;
        content: '';
        opacity: 0.2;
        display: block;
        position: absolute;
        pointer-events: none;
        background-size: cover;
        background-image: url(../img/common/index_top_bg.jpg);
    }
    .index-catch_title {
        line-height: 1.4;
        font-family: var(--font-title);
        font-size: clamp(2rem, 1.65rem + 1.75vw, 4rem);
        .index-catch_title_color {
            color: var(--color-accent);
        }
    }
    .index-catch_text {
        margin-top: var(--contents-space-M);
    }
    .index-catch_scroll {
        width: 3rem;
        z-index: 5;
        height: 6.875rem;
        display: block;
        margin: clamp(3rem, 2.4rem + 3vw, 6rem) auto 0;
        font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem);
        position: relative;
        text-align: center;
        font-family: var(--font-title);
        span {
            top: 0;
            left: 0;
            right: -0.125rem;
            display: block;
            position: absolute;
            line-height: 3rem;
            transform: rotate(90deg);
        }
        &::before {
            z-index: 1;
            width: 0.0625rem;
            height: 0.0625rem;
            content: '';
            display: block;
            position: absolute;
            background-color: #555;
            bottom: 3.125rem;
            left: calc(50% - 0.5px);
            animation: scrollLine 2s ease-in infinite;
        }
        &::after {
            width: 0.0625rem;
            height: 3.125rem;
            content: '';
            display: block;
            position: absolute;
            background-color: #ddd;
            bottom: 0;
            left: calc(50% - 0.5px);
        }
        @media screen and (min-width:60rem) {
            height: 8rem;
            
        }
    }
}
@keyframes scrollLine {
    0% {
        height: 0.0625rem;
        bottom: 49px;
    }
    10% {
        height: 5px;
        bottom: 45px;
    }90% {
        bottom: 0;
    }
    100% {
        height: 0.0625rem;
        bottom: 0;
    }
}
.index-title {
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    text-align: center;
    margin-bottom: clamp(2rem, 1.65rem + 1.75vw, 4rem);
    letter-spacing: .2rem;
    small {
        display: block;
        margin-top: clamp(0.5rem, 0.2rem + 1.5vw, 2rem);
        font-weight: 300;
        position: relative;
        font-size: var(--fontSize-main);
        
        &::before {
            content: '';
            top: clamp(-1.125rem, -0.225rem - 0.75vw, -0.375rem);
            width: 2rem;
            height: 0.125rem;
            display: block;
            position: absolute;
            border-radius: 5px;
            left: calc(50% - 0.9375rem);
            background-color: var(--color-accent);
        }
    }
}
.index-worksTitle {
    display: block;
    font-size: 1.125rem;
    position: relative;
    text-align: center;
    margin-bottom: clamp(2rem, 1.65rem + 1.75vw, 4rem);
    &::before {
        content: '';
        left: 0;
        top: 50%;
        z-index: -1;
        height: 0.0625rem;
        width: 100%;
        position: absolute;
        display: inline-block;
        background-color: var(--color-accent);
    }
    span {
        background-color: var(--color-bg);
        padding: 0 0.625rem;
    }
    @media screen and (min-width:60rem) {
        &::before {
            left: 25%;
            width: 50%;
        }
    }
}
.index-works_list {
    .index-works_card {
        position: relative;
        display: block;
        background-color: #fff;
        box-shadow: 0.125rem 0.125rem 0.625rem rgba(0,0,0,0.2);
        &[data-url] {
            cursor: pointer;
        }
        & + & {
            margin-top: 1rem;
        }
        img {
            width: 100%;
            display: block;
            aspect-ratio: 8 / 5; 
            object-fit: cover;
            object-position: center top;
            background-color: #ccc;
        }
        .index-works_card_textBox {
            padding: 0.5rem 1rem 4.5rem;
            ul {
                list-style: disc;
                padding-left: 1.2rem;
                li::marker {
                    font-size: 0.5rem;
                }
            }
        }
        .index-works_card_skillIcon1, .index-works_card_skillIcon2, .index-works_card_skillIcon3 {
            display: flex;
            margin-top: 0.25rem;
            flex-wrap: wrap;
            gap: 0.25rem;
            li {
                color: #fff;
                height: 1.5rem;
                padding: 0 0.5rem;
                font-size: 0.75rem;
                border-radius: 0.625rem;
                line-height: 1.25rem;
                list-style: none;
                background-color: var(--color-accent);
                border: 0.0625rem solid var(--color-accent);
            }
        }
        .index-works_card_skillIcon1 li {
            background-color: var(--color-accent);
            border: 0.0625rem solid var(--color-accent);
        }
        .index-works_card_skillIcon2 li {
            background-color: #7db0bc;
            border: 0.0625rem solid #7db0bc; 
        }
        .index-works_card_skillIcon3 li {
            background-color: #bcb47d;
            border: 0.0625rem solid #bcb47d; 
        }
        .index-works_card_text {
            margin-top: 1rem;
        }
        .index-works_card_textPostscript {
            color: #888;
        }
        .index-works_card_btn {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            right: 1rem;
        }
    
    }
    @media screen and (min-width:40rem) {
        &{
            gap: 4%;
            display: flex;
            flex-wrap: wrap;
            .index-works_card {
                width: 48%;
                transition: .3s;
                &[data-url]:hover {
                    transform: translateY(-1.5rem);
                }
                & + & {
                    margin-top: 0;
                }
            }
        }
    }
    @media screen and (min-width:60rem) {
        &{
            gap: 5%;
            .index-works_card {
                width: 30%;
            }
        }
    }
}
.index-skills_iconList {
    gap: clamp(0.5rem, 0.2rem + 1.5vw, 2rem) clamp(0.25rem, 0.1rem + 0.75vw, 1rem);
    
    display: flex;
    flex-wrap: wrap;
    li {
        line-height: 1;
        padding: 0.125rem 0.25rem;
        border-radius: 0.125rem;
        background-color: #fff;
        i::before {
            font-size: 1rem;
            margin-right: 0.125rem;
            line-height: 1rem;
            vertical-align: middle;
            display: linline-block;
       }
       p {
           font-size: 0.625rem;
           text-align: center;
           display: inline-block;
       }
    }
}
.index-skills_cardList {
    margin-top: clamp(2rem, 1.65rem + 1.75vw, 4rem);
    li {
        background-color: #fff;
        box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        
        padding: clamp(1rem, 0.8rem + 1vw, 2rem);
        & + & {
            margin-top: 1rem;
            @media screen and (min-width:40rem) {
                & {
                    margin-top: 0;
                }

            }
        }
        .index-skills_cardList_title {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: dashed 0.0625rem var(--color-main);
            &::before {
                content: '●';
                margin-top: -0.25rem;
                margin-top: -0.125rem;
                margin-right: 0.125rem;
                display: inline-block;
                vertical-align: middle;
                color: var(--color-accent);
            }
        }
    }
    @media screen and (min-width:40rem)  {
        & {
            display: flex;
            gap: 2rem 4%;
            flex-wrap: wrap;
            li {
                width: 48%;
            }
        }
    }
    @media screen and (min-width:60rem) {
        & {
            gap: 2rem 2.6%;
            li {
                width: 23%;
            }
        }
    }
    
}
.index-about {
    .index-about_name {
        span {
            display: block;
            color: var(--color-accent);
        }
        p {
            padding-left: clamp(2rem, 1.65rem + 1.75vw, 4rem);
        }
    }
}
.index-info{
    text-align: center;
    padding-bottom: 6.25rem;
    @media screen and (min-width:60rem) {
        text-align: center;
    }
}

/* js */
/* 文字IN */
.js-fadeIn {
    opacity: 0;
    /* transition: .8s; */
    transform: translateY(3.125rem);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.js-fadeInOpen {
    opacity: 0;
    transform: translateY(3.125rem);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.js-fadeIn.js-active,
.js-fadeInOpen.js-active {
    opacity: 1;
    transform: translateY(0);
}



@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }

}
















